body{
    background-color: darkgray;
    display: flex;
    flex-direction: row;
}

.canvas{
    display:flex;
    aspect-ratio: 1;
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.pixel{
    background-color: white;
}

.controls{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

button{
    padding:10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 102, 255);
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    height:fit-content;
    margin: 50px auto;
}

button:hover{
    background-color: rgb(37, 123, 253);
}

fieldset{
    border: black solid 2px;
}

fieldset legend{
    font-size: 30px;
    font-weight: bold;
}

fieldset button{
    margin: 10px auto;
}

.red-button{
    background-color: red;
}

.red-button:hover{
    background-color: rgb(251, 61, 61);
}




